services:
  # База данных PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: friends_platform_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # S3-совместимое хранилище MinIO
  minio:
    image: minio/minio
    container_name: friends_platform_storage
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9000:9000" # API
      - "9001:9001" # Web Console
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: